.Search {
    width: 100%;
    height: 100vh;
    background-color: #fafafa;
}

.Search__Title {
    width: 100%;
    padding-top: 80px;
    margin-bottom: 20px;
    color: #000000;
    font-size: 28px;
    text-align: center;
}

.Search__Body {
   padding-top: 200px;
}

.Search__Box {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.Search__Input {
    width: 220px;
    height: 30px;
    padding-left: 20px;
    border: 1px dashed black;
    background-color: transparent;
}

.Search__NoResults {
    width: 100%;
    padding-top: 120px;
    padding-bottom: 100px;
    text-align: center;
    color: #000000;
    font-size: 24px;
}

@media (max-width: 700px) {
    .Search__Body {
        padding-top: 50px;
    }
}
